#mainHeader {
    font-family: 'Lobster', cursive;
    text-align: center;
}
#winner {
    font-family: 'Roboto', bold;
    font-size: 36px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    margin-top: 5px;
    white-space: nowrap;
    margin-left: 25px;
}
#winnersText {
    font-family: 'Roboto', bold;
    font-size: 36px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    margin-top: 100px;
    white-space: nowrap;
    margin-left: -50px;
    text-align: center;
}
#holderText {
    font-family: 'Roboto', bold;
    font-size: 36px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    margin-top: 100px;
    white-space: nowrap;
    margin-left: -50px;
    text-align: center;
}
#andoff {
    text-align: center;
    font-style: italic;
    font-size: 22px;
}
#intro {
    text-align: center;
    color: white;
    -webkit-text-stroke: .025px black;
    font-style: italic;
}
#instructions {
    text-align: center;
    color: white;
    -webkit-text-stroke: .025px black;
    font-style: italic;
}
#selection {
    text-align: center;
    font-style: italic;
    font-size: 22px;
}
.hide {
    display: none;
    margin-left: 43%;
    margin-right: 50%;
}
.show {
    display: block;
    margin-left: 43%;
    margin-right: 50%;
}
#persiaLabel {
    font-weight: bold;
    margin-left: -825px;
    margin-top: 10px;
    font-size: 12px;
    -webkit-text-stroke: .05px white;
}
#rustyLabel {
    font-weight: bold;
    margin-left: -825px;
    margin-top: 0px;
    font-size: 12px;
    -webkit-text-stroke: .05px white;
}
#labelTheJet {
    font-weight: bold;
    margin-left: -825px;
    margin-top: 0px;
    font-size: 12px;
    -webkit-text-stroke: .05px white;
}
#labelCostco {
    font-weight: bold;
    margin-left: -825px;
    margin-top: 0px;
    font-size: 12px;
    -webkit-text-stroke: .05px white;
}
#labelGermaine {
    font-weight: bold;
    margin-left: -825px;
    margin-top: 0px;
    font-size: 12px;
    -webkit-text-stroke: .05px white;
}

#finishLine {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 1025px;
    margin-top: -265px;
    font-size: 45px;
    -webkit-text-stroke: 0.5px white;
}
#play, #rmaudio {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 45.5%;
    width: 175px;
    height: 30px;
}
#sessionWinners {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 45.5%;
    width: 175px;
    height: 30px;
}
#gameover {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 75px;
    width: 175px;
    height: 30px;
    margin-top: 15px;
}
#start {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 40%;
    width: 175px;
    height: 30px;
}
.missPersiaSep {
    margin: 0 auto;
    margin-left: -900px;
    margin-right: -975px;
    border: 0;
    border-top: 1px solid #e200f7;
    outline: 0.25px solid black;
}
.costcoSep {
    margin: 0 auto;
    margin-left: -900px;
    margin-right: -975px;
    border: 0;
    border-top: 1px solid #f70000;
    outline: 0.25px solid black;
}
.theJetSep {
    margin: 0 auto;
    margin-left: -900px;
    margin-right: -975px;
    border: 0;
    border-top: 1px solid #f7f300;
    outline: 0.25px solid black;
}
.rustySep {
    margin: 0 auto;
    margin-left: -900px;
    margin-right: -975px;
    border: 0;
    border-top: 1px solid #31f700;
    outline: 0.25px solid black;
}
.germaineSep {
    margin: 0 auto;
    margin-left: -900px;
    margin-right: -975px;
    border: 0;
    border-top: 1px solid #0025f7;
    outline: 0.25px solid black;
}
#missPersia {
    display: block;
    margin: 0 auto;
    margin-left: -825px;
    margin-top: -25px;
    height: 42px;
    width: 50px;
}
#rusty {
    display: block;
    margin: 0 auto;
    margin-left: -825px;
    margin-top: -25px;
    height: 42px;
    width: 50px;
}
#costco {
    display: block;
    margin: 0 auto;
    margin-left: -825px;
    margin-top: -25px;
    height: 42px;
    width: 50px;
}
#theJet {
    display: block;
    margin: 0 auto;
    margin-left: -825px;
    margin-top: -25px;
    height: 42px;
    width: 50px;
}
#germaine {
    display: block;
    margin: 0 auto;
    margin-left: -825px;
    margin-top: -25px;
    height: 42px;
    width: 50px;
}
body {
    background-image: url("rss/bg.jpg");
}
.moveHorses {
    position: relative;
    height: 42px;
    width: 50px;
}